/*
 * Loader
 */
#hljs-loader {
   background: url(/wp-admin/images/spinner.gif) no-repeat;
   width: 20px;
   height: 20px;
   display: inline-block;
   vertical-align: sub;
   opacity: .7;
   margin: 4px 10px 0;
}
