/*
 * Toggle button styling in place of input type checkbox
 * <label class="switch">
 *    <input type="checkbox" />
 *    <span class="slider">
 * </label>
 */
$color-button-primary: #007cba;


#hljs-admin {

   .switch {
      position: relative;
      display: inline-block;
      width: 44px;
      height: 18px;

      & input { 
         opacity: 0;
         width: 0;
         height: 0;
      }

      & + span.description {
         vertical-align: middle;
         margin-left: 0.5em;
      }
   }

   .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #cccccc;
      transition: .4s;

      &:before {
         position: absolute;
         content: "";
         height: 16px;
         width: 16px;
         left: 1px;
         bottom: 1px;
         background-color: #ffffff;
         transition: .4s;
      }

      &.round {
         border-radius: 34px;

         &::before {
            border-radius: 50%;
         }
      }
   }

   input {

      &:checked {
         & + .slider {

            background-color: $color-button-primary;

            &::before {
               transform: translateX(26px);
            } 
         }
      }
   }


}